box.card {
  padding: 12px;
}

.command-card {
  margin: 4px;
  padding: 18px;
}

.file-drop-overlay {
  background-color: alpha(@accent_bg_color, 0.5);
  color: @accent_fg_color;
}

.drop-blurred {
  filter: blur(6px);
}

.drop-error {
    background-color: alpha(@error_bg_color, 0.25);
    color: @error_color;
}
